* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "cardo", sarif;
}


.menu-section {
    position: absolute;
    left: -50%;
    top: 0;
    border: 2px solid black;
    background-color: aquamarine;
    height: 100vh;
    width: 50%;
    display: none;
    background-color: #1D1D1D;
    color: white;
    display: block;
    transition: all 0.3s linear;
}

.mobile-menusection {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-top: 3rem;
    font-size: 25px;
}

/* *{
    border : 1px solid red;
} */


button {
    cursor: pointer;
}

/* herosection css ************************** */

.hero-section {
    background-color: #EAE8E9;
    background-image: url("./image/scribble_lightest_2.png"), url("./image/scribble_dark_7.png");
    background-position: bottom -86px right 919px, bottom -43px right 0px;
    background-repeat: no-repeat no-repeat;
    background-size: 487px 521px, 121px 310px;
}

.inner-herosection {
    width: 90%;
    margin: auto;
    /* border: 1px solid black; */
    padding-bottom: 4rem;
    padding-top: 2rem;
}

.navsection {
    display: flex;
    /* padding: 1rem 0.9rem; */
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
}


.right-navbar {
    width: 12%;
    min-width: 87px;
    text-align: center;
    cursor: pointer;
    transition: transform 2s ease;
}


.click:hover {
    transform: scale(1.05);
    background-color: transparent;
    color: black;
    border: 2px solid black;
    font-weight: bold;
}



#home {
    font-weight: bold;
}

.other-opt {
    opacity: 0.8;
}

.right-navbar h4 {
    padding: 7% 0%;
    border: 2px solid black;
    background-color: transparent;
    font-weight: bold;
    border-radius: 7px;
    font-size: 16px;
    width: 100%;
}


.navsection ul {
    display: flex;
    gap: 5vw;
}

ul li {
    padding-left: 16px;
    font-size: 21px;
    cursor: pointer;
    transition: transform 0.6s ease;
}




ul li:hover {
    
    transform: scale(1.04);
    /* background-color: black; */
    color: black;
}

.herosection-content {
    display: flex;
    justify-content: space-between;
    padding: 4% 3%;
}

.hero-leftcontent {
    width: 45%;
}

.hero-headcontent {
    width: 84%;
}

.hero-headcontent h1 {
    font-size: 84px;
    line-height: 0.81;
    padding-bottom: 20px;
}


.hero-paracontent {
    width: 84%;
    padding-bottom: 20px;
}

.hero-btn button {
    width: 50%;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 13px 15px;
    border: none;
    border-radius: 7px;
    transition: transform 0.6s ease;
}

button:hover {
    transform: scale(1.06);
    background-color: black;
    color: color;
    /* border: 2px solid black; */
    /* font-weight: bold; */
}

.hero-rightcontent {
    width: 50%;
}

.hero-rightcontent img {
    height: 93%;
    width: 100%;
}


.burger {
    display: none;
}

.hidden-img {
    display: none;
}

@media screen and (max-width: 700px) {

    .inner-herosection{
        padding-bottom: 3rem;
    }

    .hero-section {
        background-position: bottom -153px right 86px, bottom -95px right -4px;
        /* background-repeat: no-repeat no-repeat; */
        background-size: 449px 483px, 129px 324px;
    }

    .navsection {
        padding: 2.5rem 0.5rem;
        justify-content: space-between;
    }

    .herosection-content {
        flex-direction: column;
        width: 100%;
        padding: 0%;
    }

    .hero-leftcontent {
        width: 100%;
    }

    .hero-headcontent {
        width: 100%;
    }

    .hero-headcontent h1 {
        text-align: center;
        font-size: 37px;
        line-height: 0.81;
    padding-bottom: 14px;

    }

    .hero-paracontent {
        width: 100%;
        font-size: 23px;
        text-align: justify;
    }

    .hero-parscontent p {
        padding-top: 8%;
    }


    ul li {
        font-size: 1.1em;
    }

    .nav-leftanchor li {
        display: none;
    }

    .burger {
        display: block;
    }

    .burger i {
        font-size: 2em;
    }

    .hidden-img {
        display: block;
        padding-bottom: 15px;
    }
    

    .visible-img {
        display: none;
    }


}

/* travel logs css ************************** */


.inner-travellogs {
    background-color: #1D1D1D;
    color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.travel-content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.travel-head {
    width: 72%;
}

.leftsidediv {
    padding-bottom: 6rem;
}


.rightside-div {
    padding-top: 12rem;
}

.travel-head h1 {
    font-size: 56px;
    text-align: center;
    line-height: 0.91;
    margin: 0.7rem 0rem;
    padding-top: 1rem;
}

.travel-para {
    margin-bottom: 1rem;
    /* text-align: justify; */
    width: 65%;
}

.travel-para p {
    text-align: center;
}

.travel-btn button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 40px;
    border-radius: 6px;
    font-size: 23px;
    transition: transform 1s ease;
}




.travel-btn button:hover {
    transform: scale(1.06);
    color: black;
    background-color: #EAE8E9;
    border: 2px solid black;
}

.travel-btn {
    text-align: center;
    width: 100%;
    padding-bottom: 3rem;
}



@media screen and (max-width: 768px) {

    .travel-content {
        gap: 6px;
        width: 90%;
    }

    .inner-travellogs {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .rightside-div {
        width: 100%;
        padding-top: 0rem;
    }

    .rightside-div img {
        width: 97%;
    }

    .leftsidediv {
        display: none;
    }


    .travel-head h1 {
        text-align: center;
        font-size: 43px;
        padding-top: 6px;
    }

    .travel-para p {
        padding-bottom: 20px;
        font-size: 22px;
        text-align: justify;
    }

    .travel-btn {
        padding-bottom: 2rem;
    }
    

    .travel-para {
        width: 96%;
    }

    .travel-head {
        width: 100%;
    }

    .travel-btn button {
        padding: 8px 25px;
        font-size: 20px;
    }

}

/* gallery-section css ************** */

.gallery-section {
    background-color: #EAE8E9;
    background-image: url("./image/scribble_dark_6.png"), url("./image/scribble_dark_5.png");
    background-repeat: no-repeat no-repeat;
    background-position: bottom 139px right 1339px, bottom -55px right -1px;
    background-size: 66px 581px, 87px 365px;
}

.inner-gallery-section {
    width: 88%;
    margin: auto;
    gap: 20px;
    padding-top: 9rem;
}

.ab {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    padding-bottom: 8rem;
}

.galsection1 {
    display: flex;
    flex-direction: column;
}

.imgdiv {
    width: 100%;
}

.imgdiv img {
    width: 90%;
    object-fit: cover;
}

.linediv {
    margin: 1rem 0rem;
    border-radius: 22px;
    background-color: black;
    width: 55px;
    height: 3px;
}

.galhead {
    padding-bottom: 15px;
}

.galhead h2 {
    font-size: 3rem;
    line-height: 0.86;
}

.galpara {
    width: 88%;
    text-align: justify;
}

@media screen and (max-width: 768px) {

    .gallery-section {
        background-color: #EAE8E9;
        background-image: url("./image/scribble_dark_6.png"), url("./image/scribble_dark_5.png");
        background-repeat: no-repeat no-repeat;
        background-position: bottom 144px right 1339px, bottom -147px right -104px;
        background-size: 66px 581px, 87px 365px;
    }

    .inner-gallery-section {
        width: 90%;
        margin: auto;
        gap: 20px;
        padding-top: 1.5rem;
    }

    .imgdiv {
        width: 100%;
    }

    .imgdiv img {
        width: 100%;
        box-shadow: 4px 4px 10px rgb(45, 17, 47);
    }

    .ab {
        flex-direction: column;
        /* padding: 0 7px; */
        margin: 0 0rem;
        padding-bottom: 0rem;

    }

    .linediv {
        width: 58px;
    }

    .galhead h2 {
        font-size: 2.2rem;
        line-height: 0.96;
    }

    .galpara {
        padding-bottom: 24px;
        font-size: 20px;
        text-align: justify;
        width: 100%;
    }
}

/* plane-section css******************8 */
.plane-section {
    background-color: #EAE8E9;
    background-image: url("./image/planeimg.png");
    background-repeat: no-repeat;
    background-size: 293px 671px;
    background-position: bottom 16px right -3px;

}

.inner-planesection {
    width: 90%;
    margin: auto;
    padding: 9rem 0rem 3rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plane-pic {
    position: relative;
    animation-name: example;
    animation-duration: 2s;
     animation-iteration-count: infinite;
    padding-bottom: 1rem;
}

@keyframes example {
    0%   {  bottom:0px;}
    
    
     
    100% { bottom:200px;}
  }

.plane-head {
    width: 46%;
    padding-bottom: 15px;
    text-align: center;
}

.plane-head h1 {
    font-size: 4rem;
}

.border-line {
    border-bottom: 3px solid black;
}

.plane-para {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    padding-right: 12px;
    padding-bottom: 11rem;
    background-image: url("./image/scribble_dark_4.png");
    background-repeat: no-repeat;
    background-size: 336px 99px;
    background-position: bottom 77px right 713px;
}


@media screen and (max-width: 768px) {

    .inner-planesection {
        width: 90%;
        padding: 1rem 0rem 3rem 0rem;
    }
    .plane-pic {
        padding: 3rem 0rem 1rem 0rem;
    }

    .plane-head {
        line-height: 1;
        width: 100%;
        padding-bottom: 16px;
        text-align: center;
    }

    .plane-head h1 {
        font-size: 2.9rem;
    }

    .plane-para {
        font-size: 17px;
        text-align: center;
        padding-bottom: 2rem;
        padding-right: 0;
    }
}

/* photosection css ********************** */

.photosection {
    background-color: #EAE8E9;
}

.portfolio-section {
    background-image: url("./image/scribble_light.png");
    background-position: bottom -21px right 865px;
    background-repeat: no-repeat;
    background-size: 482px 120px;
}

.innerphotosection {
    width: 83%;
    margin: auto;
    display: flex;
    gap: 35px;
    justify-content: center;
    background-image: url("./image/line_13.png"), url("./image/line_14.png");
    background-repeat: no-repeat no-repeat;
    background-position: bottom 99px right 10px, bottom 125px right 13px;
    padding-bottom: 3rem;

}



.leftphotosection img {
    /* background-image: url("./image/tape.png");
    background-position: bottom -7px right 1040px;
    background-repeat: no-repeat; */
    /* background-size: 336px 99px; */
    /* height: 90%; */
    object-fit: cover;
}


.child-tape {
    width: 100px;
    height: 50px;
}

.rightphotosection {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-bottom: 14px;
    margin-bottom: 100px;
}

.rightlowersection {
    padding-top: 56px;
    display: flex;
    gap: 33px;
}

.right-headsection {
    text-decoration: underline;
}

.headpara {
    line-height: 1.2;
    font-weight: bold;
    font-size: 2.2rem;
}

.right-parasection {
    padding-top: 9px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}



@media screen and (max-width: 768px) {

    .leftphotosection{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .innerphotosection {
        background-position: bottom 24px right 151px, bottom 43px right 155px;
        background-size: 36px 42px, 89px 4px;

    }

    .rightuppersection{
        display: flex;
    justify-content: center;
    align-items: center;
    }

    .innerphotosection {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .parent {
        width: 100%;
        /* padding-left: 6px; */
    }

    .leftphotosection img {
        box-shadow: 4px 4px 10px rgb(45, 17, 47);
        object-fit: cover;
        width: 100%;
    }

    .rightuppersection img {
        width: 100%;
        box-shadow: 4px 4px 10px rgb(45, 17, 47);
    }

    .headpara{
        padding-top: 10px;
        line-height: 1.1;
        font-size: 2.1rem
    }

    .rightphotosection {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;

    }

    .rightlowersection {
        flex-direction: column;
        /* display: flex; */
        gap: 20px;
        text-align: center;
    }

    .right-parasection {
        /* border: 1px solid black; */
        width: 98%;
        text-align: justify;
        font-size: 20px;
        margin: auto;
    }

    .left-portfolio {
        width: 95%;
        margin: 0;
        padding-left: 0px;
    }

}

/* portfolio section css******************* */

.inner-portfoliosection {

    background-image: url("./image/scribble_light.png");
    background-repeat: no-repeat;
    background-position: bottom -21px right 929px;
    background-size: 482px 120px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 8rem;
}

.left-portfolio {
    width: 36%;
    margin: auto;
    margin-left: 93px;
    padding-left: 29px;

}

.portfolio-para h4 {
    font-size: 21px;
}

.portfolio-para h3 {
    font-size: 21.5px;
}

.left-portfolio h1 {
    font-size: 3.8rem;
}

.portfolio-head {
    padding-bottom: 5.5rem;
}

.hide-portfolio-img {
    display: none;
}

.right-portfolio {
    display: flex;
    /* border: 1px solid red; */
    justify-content: end;
    width: 53%;
}

.right-portfolio img {
    object-fit: cover;
    height: 436px;
    width: 95%;
}

@media screen and (max-width: 768px) {

    .inner-portfoliosection {
        background-image: url("./image/scribble_light.png");
        background-repeat: no-repeat;
        background-position: bottom -21px right 65px;
        background-size: 482px 120px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 2rem;
        padding-bottom: 7rem;
        width: 100% !important;
    }

    .left-portfolio {
        width: 90%;
        margin: 0;
        padding-left: 0;
    }

    .right-portfolio {
        display: none;
    }

    .hide-portfolio-img {
        width: 100%;
        display: block;
        padding-top: 17px;
    }

    .hide-portfolio-img img {
        /* padding-left: 4px; */
        width: 100%;
        object-fit: cover;
    }

    .portfolio-head {
        width: 100%;
        padding-bottom: 3rem;
    }

    .left-portfolio h1 {
        width: 100%;
        font-size: 2.1rem;

        text-align: center;
    }

    .portfolio-para h4 {
        margin-bottom: 10px;
        text-align: justify;
        /* padding-left: 10px; */
        font-size: 22px;
    }

    .portfolio-para p {
        text-align: justify;
        font-size: 17px;
        width: 99%;
        /* padding-left: 10px; */
        /* margin-bottom: 20px; */
    }

    .portfolio-para h3 {
        font-size: 22px;
        text-align: justify;
        /* padding-left: 10px; */
    }



}


/* checklist css****************************** */

.checklist {
    background-color: #EAE8E9;
}

.inner-checklist {
    justify-content: center;
    /* align-items: center; */
    display: flex;
    gap: 97px;
    width: 97%;
    padding: 7rem 0;
    margin: auto;
    padding-bottom: 12rem;
}

.left-checklist {
    width: 51%;
}

.left-checklist h1 {
    font-size: 4.9rem;
    margin-bottom: 5rem;
}

.checklist-lowerpart{
        display: flex;
        flex-direction: column;
    
}

.checklist-content {
    align-items: center;
    margin: 11px;
    /* padding: 5px 0; */
    display: flex;
    gap: 4rem;
}

.checklist-content p {
    text-align: center;
    font-size: 15px;
    /* padding-left: 31px; */
}

.checklist-line {
    width: 90%;
    height: 3px;
    background-color: black;
    border-radius: 8px;
    /* margin-bottom: 15px; */
}

.right-checklist img{
    /* height:"460px"; */
    height: 470px;
}

.plusicon {
    font-size: x-large;
}

.right-checklist {
    width: 37%;
    display: contents;
}

.checklist-hidden-img{
    display: none;
}



@media screen and (max-width: 768px) {

    .checklist-hidden-img{
        display: block;
    }

    .checklist-hidden-img img{
        box-shadow: 4px 4px 10px rgb(45, 17, 47);

    }

    .right-checklist{
        display: none;
    }

    .checklist-hidden-img {
        display: flex;
        width: 100%;
        justify-content: center;
    }


    .inner-checklist {
        display: flex;
        gap: 35px;
        width: 100%;
        padding: 3rem 0;
        margin: 0;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 3rem;
    }

    .left-checklist {
        margin: auto;
        width: 90%;
    }


    .left-checklist h1 {
        font-size: 2.2rem;
        text-align: center;
        margin: 1.5rem 0rem;
    }

    .checklist-lowerpart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .checklist-line {
    width: 98%;
    height: 3px;
    background-color: black;
    border-radius: 8px;
    margin-bottom: 0px;
    }

    .checklist-content {
        gap: 0.5rem;
        display: flex;
        padding: 0px 0px;
    }

    .checklist-content p {
        text-align: left;
        font-size: 13px;
        width: 100%;
        padding-left: 0px;
    }
    /* .checklist-content p{
        font-size: 10px;
    } */


}



/* feedbacksection css******************** */

.feedback-section {
    background-image: url("./image/scribble_dark_2.png"), url("./image/scribble_dark_3.png");
    background-repeat: no-repeat no-repeat;
    background-position: bottom 512px right 1067px, bottom -7px right 0px;
    background-size: 341px 112px, 308px 100px;
    background-color: #EAE8E9;
}

.inner-feedbacksection {
    width: 92%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.left-arrow {
    font-size: 3rem;
    /* font-weight: 300; */
}

.feedback-icon {
    position: absolute;
    left: -37px;
    background-color: #EAE8E9;
    top: 144px;
    border: 2px solid black;
    padding: 7px 18px;
    border-radius: 8px;
}

.arrow-right {
    font-size: 3rem;
    font-weight: 300;

}

.feedback-righticon {
    border: 2px solid black;
    position: absolute;
    right: -40px;
    top: 144px;
    /* padding: 4px 8px; */
    padding: 7px 18px;
    border-radius: 8px;
    background-color: #EAE8E9;
}

.lowerpart-section {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 107px;
    gap: 28px;
}

.upper-partsection {
    text-align: center;
    font-size: 2rem;
    line-height: 1;
}

.feedbacksection1 {
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px 0;
}

.feedback-content-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.feedback-img {
    object-fit: cover;
    text-align: center;
    padding-top: 2.4rem;
    width: 100%;
}

.cust-name {
    padding-top: 20px;
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 5px;
}

.cust-details {
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}


@media screen and (max-width: 768px) {

    
    .inner-feedbacksection {
        background-image: url(./image/arrow_left\ 1.png), url(./image/arrow_right\ 1.png);
        background-repeat: no-repeat no-repeat;
        background-position: bottom 40px right 263px, bottom 38px right 103px;
        background-size: 60px 45px, 54px 48px;
        background-color: #EAE8E9;
        width: 100%;
    }
    .feedback-icon {
        display: none;
    }


    .feedback-righticon {
        display: none;
    }

    .lowerpart-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 19px;
    }

    .cust-name {
        padding-top: 20px;
        font-weight: bold;
        font-size: 1rem;
        padding-bottom: 5px;
    }


    .upper-partsection {
        text-align: center;
        font-size: 1.4rem;
        line-height: 1;
    }

}



/* contactsection css*************** */

.contact-section {
    background-color: #EAE8E9;
}

.inner-contactsection {
    gap: 66px;
    width: 88%;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 9rem;
    display: flex;
    padding-left: 10px;
}

.inputt input {
    border: none;
    outline: none;
    background-color: #EAE8E9;
}

textarea {
    border: 2px solid black;
    padding-top: 10px;
    border-radius: 4px;
    margin-bottom: 1rem;
    background-color: #EAE8E9;

}

input {
    color: black;
}

::placeholder {
    color: black;
    padding-left: 15px;
}

.inputt {
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px 0;
    margin-bottom: 15px;
}

.inputt .contact-btn {
    padding-left: 2.7rem;
}

.left-contactsection {
    padding-left: 47px;
    width: 40%;
}

.left-contactsection p {
    font-size: 5.3rem;
    padding-bottom: 20px;
    font-weight: 600;
}

.contact-btn {
    cursor: pointer;
    padding: 7px 150px;
    font-size: 21px;
    text-align: center;
    border-radius: 4px;
    transition: transform 0.6s ease;
    width: 100%;
}



.contact-btn:hover {
    transform: scale(1.03);
    color: black;
    border: 2px solid black;
}

.right-contactsection {
    height: 520px;
    width: 620px;
}

.right-contactsection img {
    object-fit: cover;
    height: 97%;
    width: 100%;
}

.contact-hiddenimg {
    display: none;
}

@media screen and (max-width: 768px) {
    .inner-contactsection {
        gap: 17px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        padding-left: 0;
        padding-bottom: 4rem;
    }

    .right-contactsection {
        display: none;
    }

    .contact-hiddenimg {
        display: block;
    }

    .contact-hiddenimg img{
        box-shadow: 4px 4px 10px rgb(45, 17, 47);

    }

    .contact-hiddenimg img {
        object-fit: cover;
        width: 100%;
    }

    .left-contactsection {
        padding-left: 0;
        margin: auto;
        text-align: center;
        width: 96%;
    }

    input {
        width: 100%;
    }

    .left-contactsection p {
        font-size: 3.6rem;
        padding-bottom: 20px;
        font-weight: 500;
    }

    textarea {
        height: 12em;
        width: 100%;
    }

    .contact-btn {
        padding: 7px 104px;
        font-size: 21px;
        text-align: center;
        border-radius: 4px;
    }


}

/* footersection css********************** */


.footer-section {
    background-color: #b1b0b0;
    background-image: url("./image/footer-img.png");
    background-repeat: no-repeat;
    background-position: bottom 13px right 1076px;
    background-size: 330px 138px;
}

.inner-footersection {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.upper-footersection h2 {
    padding: 85px 0px 29px 0px;
}

.left-footerside {
    width: 30%;
    text-align: center;
    padding-bottom: 134px;
}

.left-footerside h1 {
    line-height: 0.81;
    font-size: 3.6rem;
}

.right-footerside {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.lower-footersection {
    display: flex;
    gap: 95px;
}

.same-footerclass {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.left-lower {
    display: flex;
    width: 32%;
    justify-content: space-between;
}

.right-lower{
    width: 36%;
    display: flex;
    justify-content: space-between;
    
}

.last-footer-para p {
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
}


@media screen and (max-width: 768px) {
    .inner-footersection {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .left-footerside {
        width: 100%;
        text-align: center;
        padding-top: 8%;
        padding-bottom: 0;
    }

    .left-footerside h1 {
        line-height: 0.81;
        font-size: 2.4rem;
    }

    .right-footerside {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .upper-footersection {
        text-align: center;
    }

    .upper-footersection h2 {
        padding: 20px;
        margin-bottom: 7px;
    }

    .firstset{
        padding-left: 24px;
    }

    .secondset{
        padding-right: 15px;
    }

    .lower-footersection {
        flex-direction: column;
        text-align: justify;
        display: flex;
        justify-content: space-between;
        gap: 0;
    }

    .same-footerclass {
        text-align: center !important;
        display: flex;
        flex-direction: column;
        gap: 23px;
        margin-bottom: 14px;
        width: 139px;
    }

    .last-footer-para {
        text-align: center;
        font-size: 13px;
    }

    .left-lower {
        width: 100%;
        justify-content: space-evenly;
        gap: 61px
    }

    .right-lower {
        padding-top: 13px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 34px
    }

    .last-footer-para p {
        margin: auto;
        width: 94%;
        padding-top: 2rem;
        padding-bottom: 4rem;
        padding-left: 0;
    }

}